body{
  background-color: #ebf7f8;
  margin: 0;
  padding: 0;
}

header{
  background-color: #49708a;
  text-align: center;
  padding: 5px;
}

header h1{
  color: #ebf7f8;
}

nav{
  background-color: #88abc2;
  padding: 5px;
}

nav ul{
  display: flex;
  list-style: none;
}

nav ul li{
  width: 100%;
  padding: 5px;
}

nav ul li a{
  text-decoration: none;
  color: #ebf7f8;
  display: flex;
  justify-content: space-evenly;
}

nav ul li a:hover{
  background-color: #88abc2;
}

section{
  text-align: center;
  height: 100vh;
}

section h1{
  margin-left: 20%;
  margin-right: 20%;
}

footer{
  background-color: #49708a;
  text-align: center;
  padding: 20px;
}

footer p{
  color: #ebf7f8;
}